<<<<<<< HEAD
.sk-mask{
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    z-index: 999999999;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}

.sk-mask>div{
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height: 100%;
}

.sk-mask-bg{

}

.sk-mask-text{

=======
.sk-mask{
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    z-index: 999999999;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}

.sk-mask>div{
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height: 100%;
}

.sk-mask-bg{

}

.sk-mask-text{

>>>>>>> 6382325fea1fe1d8e6bef0179fd4fe255bd1d004
}